<div class="mt-3 p-2 rounded shadow-lg ">
  <div class="card" style="width: 100%;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Name: <span class="text-dark">{{user.name}}</span></li>
      <li class="list-group-item">Username: <span class="text-dark">{{user.username}}</span></li>
      <li class="list-group-item">Email: <span class="text-dark">{{user.email}}</span></li>
      <li class="list-group-item">ID: <span class="text-dark">{{user.id}}</span></li>
      <li class="list-group-item">Address:
        <div class="card  ml-5" style="width: 70%;">
          <ul class="list-group list-group-flush ml-5">
            <li class="list-group-item">Street: <span class="text-dark">{{user.address.street}}</span></li>
            <li class="list-group-item">Suite: <span class="text-dark">{{user.address.suite}}</span></li>
            <li class="list-group-item">City: <span class="text-dark">{{user.address.city}}</span></li>
            <li class="list-group-item">Zipcode: <span class="text-dark">{{user.address.zipcode}}</span></li>
            <li class="list-group-item">Geo:
              <br>lat: <span class="text-dark">{{user.address.geo.lat}}</span><br>
              lng: <span class="text-dark">{{user.address.geo.lng}}</span></li>
          </ul>
        </div>
      </li>
      <li class="list-group-item">Phone: <span class="text-dark">{{user.phone}}</span></li>
      <li class="list-group-item">Website: <span class="text-dark">{{user.website}}</span></li>
      <li class="list-group-item">Company:
        <div class="card  ml-5" style="width: 70%;">
          <ul class="list-group list-group-flush ml-5">
            <li class="list-group-item">Name: <span class="text-dark">{{user.company.name}}</span></li>
            <li class="list-group-item">Catch Phrase: <span class="text-dark">{{user.company.catchPhrase}}</span></li>
            <li class="list-group-item">BS: <span class="text-dark">{{user.company.bs}}</span></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
