.AllBg{
    height: 100vh;
}

.content-block, .content-block-noclickble{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 5px;
    border: 1px solid rgba(180, 178, 178, 0.64);
}

.content-block:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: .3s;
}
