<div class="container">
  <div class="row flex-column">
    <div class="col">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Name: {{user?.name}}</li>
          <li class="list-group-item">Email: {{user?.email}}</li>
          <li class="list-group-item">Login: {{user?.username}}</li>
        </ul>
      </div>
    </div>
    <div class="col mt-3 d-flex justify-content-between">
      <button type="button" class="btn btn-secondary btn-sm mr-2 w-50"
              routerLink="user-posts"
      >
        Posts
      </button>

    </div>
    <router-outlet></router-outlet>
  </div>
</div>
